<ion-header>

  <ion-navbar>
    <ion-title>Aetna Dental Access</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button
        block
        color="orange"
        large
        [navPush]="aetnaDentalPackages">
        <div>
          <ion-icon name="add"></ion-icon>
          <label class="home-button-label">Find The Package That Fits</label>
        </div>
      </button>
</ion-content>
