<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Xpress Health Care</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <button ion-button large block color="magento" [navPush]="aetnaDentalAccessPage">
        <div>
          <ion-icon name="thumbs-up"></ion-icon>
          <label class="home-button-label">Aetna Dental Access</label>
        </div>
      </button>
    </ion-row>
    <ion-row>
      <button ion-button
        block
        color="orange"
        large
        [navPush]="visitReportPage">
        <div>
          <ion-icon name="add"></ion-icon>
          <label class="home-button-label">Health Advocacy</label>
        </div>
      </button>
    </ion-row>
    <ion-row>
      <button ion-button block large
      color="lemon"
      [navPush]="stockListPage">
        <div>
          <ion-icon name="calendar"></ion-icon>
          <label class="home-button-label">Teladoc</label>
        </div>
       </button>
    </ion-row>
    <ion-row>

      <button ion-button block large
      color="LightSlateGray" [navPush]="peopledirpage">
        <div>
        <ion-icon name="people"></ion-icon>
          <label class="home-button-label">Medical Bill Saver™</label>
          </div>
      </button>

    </ion-row>
    <ion-row>
      <button ion-button block large
      color="DarkPink"
      [navPush]="businessdirpage">
        <div>
          <ion-icon name="home"></ion-icon>
          <label class="home-button-label">Alternative Medicine</label>
        </div>
      </button>
    </ion-row>
    
  </ion-grid>


</ion-content>

